In [58]:
import numpy as np
import pandas as pd

In [59]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows',500)

In [60]:
df = pd.read_csv("credit_train.csv")

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Customer ID                   100000 non-null  object
 2   Loan Status                   100000 non-null  object
 3   Current Loan Amount           100000 non-null  float64
 4   Term                          100000 non-null  object
 5   Credit Score                  80846 non-null   float64
 6   Annual Income                 80846 non-null   float64
 7   Years in current job          95778 non-null   object
 8   Home Ownership                100000 non-null  object
 9   Purpose                       100000 non-null  object
 10  Monthly Debt                  100000 non-null  float64
 11  Years of Credit History       100000 non-null  float64
 12  Months since last delinquent  46859 non-null   float64
 13  Number of Open Accounts       100000 non-null  float64
 14  Number of Credit Problems     100000 non-null  float64
 15  Current Credit Balance        100000 non-null  float64
 16  Maximum Open Credit           99998 non-null   float64
 17  Bankruptcies                  99796 non-null   float64
 18  Tax Liens                     99990 non-null   float64
dtypes: float64(12), object(7)
memory usage: 14.6+ MB

In [62]:
df['Credit Score'].fillna(df['Credit Score'].median(),inplace=True)
df['Annual Income'].fillna(df['Annual Income'].median(),inplace=True)
df['Current Loan Amount'].fillna(df['Current Loan Amount'].median(),inplace=True)
df['Months since last delinquent'].fillna(df['Months since last delinquent'].median(),inplace=True)
df['Bankruptcies'].fillna(df['Bankruptcies'].median(),inplace=True)
df['Years in current job'].fillna('0 Years',inplace=True)
df['Tax Liens'].fillna(df['Tax Liens'].median(),inplace=True)
df['Maximum Open Credit'].fillna(df['Maximum Open Credit'].median(),inplace=True)
df['Current Credit Balance'].fillna(df['Current Credit Balance'].median(),inplace=True)
df['Number of Credit Problems'].fillna(df['Number of Credit Problems'].median(),inplace=True)
df['Number of Open Accounts'].fillna(df['Number of Open Accounts'].median(),inplace=True)
df['Number of Open Accounts'].fillna(df['Number of Open Accounts'].median(),inplace=True)
mask = df['Loan Status'] ==  'Fully Paid'
column_name = 'Loan Status'
df.loc[mask, column_name] = 1
mask_charged_off = df['Loan Status'] ==  'Charged Off'
column_name = 'Loan Status'
df.loc[mask_charged_off, column_name] = 0

In [63]:
df.isnull().sum()

Loan ID                         514
Customer ID                     514
Loan Status                     514
Current Loan Amount               0
Term                            514
Credit Score                      0
Annual Income                     0
Years in current job              0
Home Ownership                  514
Purpose                         514
Monthly Debt                    514
Years of Credit History         514
Months since last delinquent      0
Number of Open Accounts           0
Number of Credit Problems         0
Current Credit Balance            0
Maximum Open Credit               0
Bankruptcies                      0
Tax Liens                         0
dtype: int64

In [64]:
df.dropna()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,1,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,32.0,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,1,262328.0,Short Term,724.0,1174162.0,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,1,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,1,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,32.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,1,176220.0,Short Term,724.0,1174162.0,5 years,Rent,Debt Consolidation,20639.70,6.1,32.0,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3f94c18c-ba8f-45d0-8610-88a684a410a9,2da51983-cfef-4b8f-a733-5dfaf69e9281,1,147070.0,Short Term,725.0,475437.0,7 years,Own Home,other,2202.86,22.3,32.0,5.0,0.0,47766.0,658548.0,0.0,0.0
99996,06eba04f-58fc-424a-b666-ed72aa008900,77f2252a-b7d1-4b07-a746-1202a8304290,1,99999999.0,Short Term,732.0,1289416.0,1 year,Rent,Debt Consolidation,13109.05,9.4,21.0,22.0,0.0,153045.0,509234.0,0.0,0.0
99997,e1cb4050-eff5-4bdb-a1b0-aabd3f7eaac7,2ced5f10-bd60-4a11-9134-cadce4e7b0a3,1,103136.0,Short Term,742.0,1150545.0,6 years,Rent,Debt Consolidation,7315.57,18.8,18.0,12.0,1.0,109554.0,537548.0,1.0,0.0
99998,81ab928b-d1a5-4523-9a3c-271ebb01b4fb,3e45ffda-99fd-4cfc-b8b8-446f4a505f36,1,530332.0,Short Term,746.0,1717524.0,9 years,Rent,Debt Consolidation,9890.07,15.0,32.0,8.0,0.0,404225.0,738254.0,0.0,0.0
99999,c63916c6-6d46-47a9-949a-51d09af4414f,1b3014be-5c07-4d41-abe7-44573c375886,1,99999999.0,Short Term,743.0,935180.0,0 Years,Own Home,Debt Consolidation,9118.10,13.0,32.0,4.0,1.0,45600.0,91014.0,1.0,0.0

In [65]:
df.isnull().sum()

Loan ID                         514
Customer ID                     514
Loan Status                     514
Current Loan Amount               0
Term                            514
Credit Score                      0
Annual Income                     0
Years in current job              0
Home Ownership                  514
Purpose                         514
Monthly Debt                    514
Years of Credit History         514
Months since last delinquent      0
Number of Open Accounts           0
Number of Credit Problems         0
Current Credit Balance            0
Maximum Open Credit               0
Bankruptcies                      0
Tax Liens                         0
dtype: int64

In [66]:
df['Monthly Debt'].fillna(df['Monthly Debt'].median(),inplace=True)
df['Years of Credit History'].fillna(df['Years of Credit History'].median(),inplace=True)
df.isnull().sum()

Loan ID                         514
Customer ID                     514
Loan Status                     514
Current Loan Amount               0
Term                            514
Credit Score                      0
Annual Income                     0
Years in current job              0
Home Ownership                  514
Purpose                         514
Monthly Debt                      0
Years of Credit History           0
Months since last delinquent      0
Number of Open Accounts           0
Number of Credit Problems         0
Current Credit Balance            0
Maximum Open Credit               0
Bankruptcies                      0
Tax Liens                         0
dtype: int64

In [67]:
df2 = df

In [68]:
new_data = df2.dropna(axis = 0, how ='any')
new_data.isnull().sum()

Loan ID                         0
Customer ID                     0
Loan Status                     0
Current Loan Amount             0
Term                            0
Credit Score                    0
Annual Income                   0
Years in current job            0
Home Ownership                  0
Purpose                         0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

In [69]:
del df2['Loan ID']
del df2['Customer ID']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 17 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan Status                   100000 non-null  object
 1   Current Loan Amount           100514 non-null  float64
 2   Term                          100000 non-null  object
 3   Credit Score                  100514 non-null  float64
 4   Annual Income                 100514 non-null  float64
 5   Years in current job          100514 non-null  object
 6   Home Ownership                100000 non-null  object
 7   Purpose                       100000 non-null  object
 8   Monthly Debt                  100514 non-null  float64
 9   Years of Credit History       100514 non-null  float64
 10  Months since last delinquent  100514 non-null  float64
 11  Number of Open Accounts       100514 non-null  float64
 12  Number of Credit Problems     100514 non-null  float64
 13  Current Credit Balance        100514 non-null  float64
 14  Maximum Open Credit           100514 non-null  float64
 15  Bankruptcies                  100514 non-null  float64
 16  Tax Liens                     100514 non-null  float64
dtypes: float64(12), object(5)
memory usage: 13.0+ MB

In [70]:
del df2['Term']
del df2['Years in current job']
del df2['Home Ownership']
del df2['Purpose']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 13 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan Status                   100000 non-null  object
 1   Current Loan Amount           100514 non-null  float64
 2   Credit Score                  100514 non-null  float64
 3   Annual Income                 100514 non-null  float64
 4   Monthly Debt                  100514 non-null  float64
 5   Years of Credit History       100514 non-null  float64
 6   Months since last delinquent  100514 non-null  float64
 7   Number of Open Accounts       100514 non-null  float64
 8   Number of Credit Problems     100514 non-null  float64
 9   Current Credit Balance        100514 non-null  float64
 10  Maximum Open Credit           100514 non-null  float64
 11  Bankruptcies                  100514 non-null  float64
 12  Tax Liens                     100514 non-null  float64
dtypes: float64(12), object(1)
memory usage: 10.0+ MB

In [71]:
df2 = df2[df2['Loan Status'].notna()]
df2.isnull().sum()
df2.to_csv('clean_input_only_num.csv')

In [72]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan Status                   100000 non-null  object
 1   Current Loan Amount           100000 non-null  float64
 2   Credit Score                  100000 non-null  float64
 3   Annual Income                 100000 non-null  float64
 4   Monthly Debt                  100000 non-null  float64
 5   Years of Credit History       100000 non-null  float64
 6   Months since last delinquent  100000 non-null  float64
 7   Number of Open Accounts       100000 non-null  float64
 8   Number of Credit Problems     100000 non-null  float64
 9   Current Credit Balance        100000 non-null  float64
 10  Maximum Open Credit           100000 non-null  float64
 11  Bankruptcies                  100000 non-null  float64
 12  Tax Liens                     100000 non-null  float64
dtypes: float64(12), object(1)
memory usage: 10.7+ MB